<!DOCTYPE HTML>
<html>
  <head>
	<title>Dashboard</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../../css/style.css" />
	<link rel="stylesheet" href="../../css/dashboard.css" />
	<link rel="stylesheet" href="../../css/bootstrap.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" />
	
  	<script src="/webjars/jquery/jquery.min.js"></script>
  	<script rel="text/javascript" src="../../script/dashboard.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
   	<!--Default navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#strat-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="../../images/StratLogo.png" alt="logo" class="img-responsive" width="45" height="45" id="logo"/></a>
        </div>

        <div class="collapse navbar-collapse" id="strat-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">News</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Documentation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

  	<!--Body content-->
    <div class="container body-content">
      <div class="container" id="bodyCon">
      
		    <div class="row">
		        <div class="col-xs-3">
		            <div class="list-group">
		              <a href="dashboard.html" class="list-group-item" id="dashboardTab">
		                <p><span style="font-size: 1em; font-family: 'Arimo', sans-serif;">My Dashboard</span></p>
		              </a>
		
		              <a href="#" class="list-group-item" id="intTutTab">
		                <p><span style="font-size: 1em; font-family: 'Arimo', sans-serif;">Interactive Tutorials</span></p>
		              </a>
		            </div>
		       	</div>
		       	
		       	<div class="col-xs-9">
		       		<div class="container" id="dashboardHeaderCon">
		       			<h3 id="dashboardHeader">My Dashboard</h3>
		       		</div>
		       	</div>
		     </div>
		     
		     <div class="row">
		     	<div class="col-xs-3"></div>
		     	
			    <!-- Dashboard contents -->
				<div class="col-xs-9">
					<!-- Overall Prog Bar Con -->
					   <div class="container">
						  <div class="row">
							<div class="col-xs-6">
							    <div class="container" id="overallProgBarCon">
							     	<h4>My Overall Progress</h4>
						            <div class="progress" id="overallProgBar">
						                <div class="progress-bar" style="width:2%;"></div>
						         	</div>
							     </div>
							 </div>
							     	
							 <div class="col-xs-3">
							     <div class="container" id="overallScoreCon">
							     	<h4>Overall Score
							     		<span class="glyphicon glyphicon-triangle-top" id="triangleTopIcon" aria-hidden="true"></span>
							     	</h4>
							     			
							     	<div id="overallScoreHeader">
							            <p id="overallScore">- / 100</p>
							        </div>
							     </div>
							  </div>
							  	
							</div>
						</div> <!-- end of overallProgCon -->
						
						<div class="container" id="tutProgCon">
							<div class="row">
								<div class="col-xs-6">
							    	<div class="container" id="tutProgBarCon">
							     		<h5>Tutorial 1.1</h5>
						            	<div class="progress" id="tutProgBar">
						                	<div class="progress-bar" style="width:2%;"></div>
						         		</div>
							     	</div>
							     </div>
							     	
							     <div class="col-xs-3">
							     	<div class="container" id="tutScoreCon">
							     		<h5>Score</h5>
							     			
							     		<div id="tutScoreHeader">
							            	<p id="tutScore">- / 10</p>
							            </div>
							     	</div>
							  	</div>
							</div>
						</div> <!-- end of tutProgCon -->
	     
			     	</div>
		     
      			</div> <!-- end of progRow -->
      			
      			<div class="container" id="tutCon">
      				<div class="col-xs-3"></div>
      			
      				<div class="col-xs-9" id="tutCol">
      					<div class="container">
      						<div class="row">
	      						<div class="col-xs-4">
	      							<h4>Recently Viewed Tutorial</h4>
	      					
		      						<div class="container" id="currentTutCon">
		      							<p id="currentTut"><a href="#">Tutorial 1.1</a></p>
		      						</div>
	      						</div>
	      						
	      						<div class="col-xs-6">
	      							<h4>Most Viewed Tutorial</h4>
	      							
	      							<div class="container" id="graphCon">
	      								<p>graph here</p>
	      							</div>
	      						</div>
	      					</div>
	      				</div>
      				</div> <!-- end of tutCol -->
      			</div> <!-- end of container -->
      			
      			<div class="container" id="availTutCon">
      				<div class="col-xs-3"></div>
      				
      				<div class="col-xs-9">
      					<div class="container">
      						<div class="row" >
	      						<div class="col-xs-9">
	      							<h4>Available Tutorials</h4>
	      							
	      							<div class="container" id="availTutCon">
	      								<p id="availTut"><a href="#">Tutorial 1.1</a></p>
	      							</div>
	      						</div>
      						</div>
      					</div>
      				</div>
      			</div> <!-- end of availTutCon-->
   		 </div>
   	</div>

	<!-- footer -->
     <div class="container-small footerCon">
        <footer class="footer-bs">
          <div class="row">
            <div class="col-md-2 footer-nav" id="footer-admin">
               <ul class="list">
                 <h6>Administrator</h6>
                  <li><a href="/adminLogin">Log In</a></li>
                </ul>
            </div>

            <div class="col-md-2 footer-nav">
               <ul class="list">
                 <h6>Service</h6>
                  <li><a href="/contactUs">Contact Us</a></li>
                </ul>
            </div>
          </div>
          <section align="right" >&copy; 2018 Strat</section>
        </footer>
     </div>

  </body>

</html>