<!DOCTYPE html>
<html>
 	<head>
		<title>Contact Us</title>
		<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/contactUs.css" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" />
		
	  	<script src="/webjars/jquery/jquery.min.js"></script>
	  	<script rel="text/javascript" src="../../script/contactUs.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	</head>

	<body>
	 	<!--Default navbar-->
	    <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#strat-navbar-collapse" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/"><img src="../../images/StratLogo.png" alt="logo" class="img-responsive" width="45" height="45" id="logo"/></a>
	        </div>
	
	        <div class="collapse navbar-collapse" id="strat-navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="#">News</a></li>
	            <li><a href="#">Forum</a></li>
	            <li><a href="#">Documentation</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#">Login</a></li>
	            <li><a href="#">Sign Up</a></li>
	          </ul>
	        </div>
	      </div>
	    </nav>
	    
	    <!--Body content-->
	    <div class="container body-content">
	      <div class="container" id="bodyCon">
	      	<div class="row">
	          <div class="col-md-12">
	            <h1 id="contactUsHeader" class="text-center">Contact Us</h1>
	          </div>
	        </div>
	
	      	
	      	
	      </div>
	    </div>
	    
	    <!-- footer -->
	     <div class="container-small footerCon">
	        <footer class="footer-bs">
	          <div class="row">
	            <div class="col-md-2 footer-nav" id="footer-admin">
	               <ul class="list">
	                 <h6>Administrator</h6>
	                  <li><a href="../adminLogin/adminLogin.html">Log In</a></li>
	                </ul>
	            </div>
	
	            <div class="col-md-2 footer-nav">
	               <ul class="list">
	                 <h6>Service</h6>
	                  <li><a href="../contactUs/contactUs.html">Contact Us</a></li>
	                </ul>
	            </div>
	          </div>
	          <section align="right" >&copy; 2018 Strat</section>
	        </footer>
	     </div>
	</body>
</html>